*{
  box-sizing: border-box;
}

:root{
  --border-radius-size: 20px;
}

body{
  font-family: Arial, sans-serif;
}

table{
  margin: 20px auto 0;
  border-collapse:separate;
  min-width: 100%;
  padding: 0 20px;
}

/*thead styles*/

thead tr th{
  font-size: 1.4em;
  padding: 20px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

.price{
  display: inline-block;
  padding: 10px 0;
  font-size: 1.8em;
}

thead tr th:first-child
{
  border: 1px solid #7979A8;
  border-top-left-radius: var(--border-radius-size);
  background-color: #7979A8;
  vertical-align: middle;
}

thead tr th:nth-child(2){
  background-color: #64649E;
}

thead tr th:nth-child(3){
  background-color: #4D4D91;
}

thead tr th:nth-child(4){
  background-color: #2C2C80;
}

thead tr th:nth-child(5){
  background-color: #000069;
}

thead tr th:last-child{
  border: 1px solid #000069;
  border-top-right-radius: var(--border-radius-size);
}
/*tbody styles*/
tbody td{
  padding: 20px 10px;
  text-align: center;
  font-size: 1.25em;
}

tbody tr td:first-child{
  text-align: left;
  padding-left: 20px;
}

tbody tr:nth-child(2n - 1) td:nth-child(2n - 1)
{
  background-color: #DBDBDB;
}

tbody tr:nth-child(2n -1) td:nth-child(2n)
{
  background-color: #E7E7E7;
}

tbody tr:nth-child(2n) td:nth-child(2n - 1){
  background-color: #E7E7E7;
}

tbody tr:nth-child(2n) td:nth-child(2n)
{
  background-color: #F3F3F3;
}

/*tfoot styles*/
tfoot tr td{
  background-color: #DDDDDD;
  text-align: center;
  padding: 20px;
}

tfoot tr td:first-child{
  border: 1px solid #DDDDDD;
  border-bottom-left-radius: var(--border-radius-size);
}

tfoot tr td:last-child{
  border: 1px solid #DDDDDD;
  border-bottom-right-radius: var(--border-radius-size);
}

td button{
  text-transform: uppercase;
  padding: 10px 20px;
  background-color: #EFEFEF;
  border: 1px solid rgba(20, 20, 20, 0.5);
  font-size: 1.25em;
  color: rgba(10, 10, 10, 0.85);
  transition: all 0.5s ease;
}

td button:hover{
  transition: all 0.5s ease; 
  background-color:#4D4D91;
  color: rgba(250, 250, 250, 0.95);
}